body {
margin: 1px;
padding: 2px;
box-sizing: content-box;
width: auto;}
body {
background-color: #f8ff8f;
font-family: comic sans ms, comic sans;
border-style: ridge;
border-color: rgb(11, 89, 255);}