body{
    background: rgb(157, 218, 255);
    border: 12px solid rgb(199, 132, 238);
    font-family: comic sans ms, comic sans;
    border-style: ridge;
  }
  body{
  max-width: max-content; 
  max-height: max-content;
  }