body{
    background: rgb(59, 99, 180)
}
.flex-container-md {
    display: flex;
    position: absolute;
    margin-left: 37%;
    margin-right: 37%;
    border: 30px solid rgb(135, 135, 255);
    background-color: rgb(214, 239, 255);}
    div {
        border: 1px solid rgb(116, 116, 116);
      }
      
      table {
        border-collapse: separate;
        border-spacing: 0 8px;
        margin-top: -8px;
      }
      
      td {
        border: 1px solid rgb(5, 5, 5);
        border-left-width: 0;
        min-width: 120px;
        height: 18px;
      }
      
      td:first-child {
        border-left-width: 1px;
      }
      body {
        font-family: comic sans ms, comic sans;
        border-style: ridge;}